################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/LambdaHelloWorld/LambdaHelloWorld/node_modules/aws-sdk
/LambdaHelloWorld/LambdaHelloWorld/obj/Debug
/LambdaHelloWorld/.vs/LambdaHelloWorld
/LambdaHelloWorld/LambdaHelloWorld/bin
/LambdaWhatIsMyIp/node_modules/aws-sdk
/LambdaWhatIsMyIp/bin
/LambdaWhatIsMyIp/obj/Debug
